@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>show</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.name</h1>
    </div>
    <div>
        @Session.SessionID
    </div>
    <div>
        @Session.IsNewSession
    </div>
    <div>
        @Session.Count
    </div>
</body>
</html>
